
*
{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;  
    font-family: Helvetica, sans-serif;                                                 
}

/* cabeçalho */


header
{
    background-color: #F7462E;
    width: 100%;
    display: flex;
    color: white;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

header h3
{
    margin-right: 20px;
    cursor: pointer;
}

header a
{
    text-decoration: none; 
    color: white;
}

header .logo
{
    display:flex;
    margin-left: 20px;
    cursor: pointer;
}

header .logo img
{
    height: 50px;
    width: 50px;
}

header .logo h1
{
    color: white;
    font-size: 40px;
}

/* barra de navegação */

.navegacao
{
    background-color: #FE6132;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegacao ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navegacao ul a
{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navegacao ul a:hover
{
    color: rgb(5, 5, 5);
    transition: 0.5s;
}

/* conteudo da loja */

body
{
    background-color: silver;
}

section
{
    background-color: white;
    height: 930px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

section h3
{
    color: #F7462E;
    display: flex;
    justify-content: center;
    margin: 30px 0 10px 0;
}

section a
{
    text-decoration: none;
    color: black;
}

section .grade-camisetas
{
    display:grid;
    grid-template-columns: repeat(5, 230px);
    justify-content: center;
}

section .camiseta .img img
{
    width: 200px;
    height: 150px;
}

section .camiseta .img
{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

section .camiseta
{
    width: 220px;
    box-shadow: 0 5px 10px silver;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px 10px;
    border-radius: 5px;
    font-size: 14px;
}

section .camiseta:hover
{
    border: 1px solid red;
    cursor: pointer;
}

section .camiseta .info1
{
    display: flex;
}

section .camiseta .info1 p
{
    margin-left: 5px;
    color: gray;
}

section .camiseta .info2
{
    display: flex;
}

section .camiseta .info2 p
{
    margin-left: 5px;
    color: gray;
}

section .camiseta .info3
{
    display: flex;
    justify-content: space-between;
    color: gray;
}

section .camiseta .info3 b
{
    color: #F7462E;
}
